@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<h3>Data Mapping and Flow</h3>
<p>These tools aid privacy professionals and organizations 
    in understanding how personal data moves through an organization 
    and which, if any, third-parties receive it.</p>
<hr />
<br />
<h3>Website Scanning / Cookie Management </h3>
<p>This category of technology aids with cookie consent compliance by displaying 
    cookie banners, tracking opt-in and opt-out consents,
    and scanning website to ensure that all cookies found are properly disclosed and set.</p>